<nav class="navbar navbar-default">
	<div class="container-fluid">
		<a class="navbar-brand" routerLink="/">home</a>
		<ul class="nav navbar-nav">
		  <li><a *ngIf="!ownerService.isLoggedIn()"  routerLink="/owner">list your car</a></li>
		
		  <li *ngIf="ownerService.isLoggedIn()"><a routerLink="/owner/cars">my cars</a></li>
		  <li *ngIf="ownerService.isLoggedIn()"><a routerLink="/owner/addcar">add car</a></li>
		  <li *ngIf="ownerService.isLoggedIn()"><a routerLink="/owner/settings">account settings</a></li>
		  <li><a routerLink="/car">find a car</a></li>		
		  <li><a href="#" *ngIf="ownerService.isLoggedIn()" (click)="logout()">logout</a></li>
		</ul>
	</div>
</nav> 
