<form class="form-horizontal">
	<div class="col-sm-offset-3">
		<h2 class="col-sm-offset-2 col-sm-10">Car Image Management</h2>

		<div class="form-group">
			<label class="col-sm-2 control-label">Choose file: </label>
			<div class="col-sm-4">
				<input type="file" class="form-control" ng2FileSelect [uploader]="uploader" />
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-2  col-sm-10">
				<button type="button" class="btn btn-success" (click)="this.uploader.uploadAll()"
					[disabled]="!uploader.getNotUploadedItems().length">Upload Image</button>
				<button type="button" class="btn btn-default" (click)="this.location.back()">Back</button>
			</div>
		</div>
	</div>

	<div class="row">
		<div *ngFor="let image of images" class="col-xs-6 col-md-3">
			<a [routerLink]="[image.id]" class="thumbnail">
				<img src="{{image.urlSmall}}" alt="image not found" />
			</a>
		</div>
	</div>

</form>

