<div class="form-horizontal ">
	<div class="col-sm-offset-3 col-sm-9">
		<h2 class="col-sm-offset-2">Change password</h2>


		<div class="form-group">
			<label class="col-sm-2 control-label">old password: </label>
			<div class="col-sm-4">
				<input type="password" class="form-control" [(ngModel)]="oldPassword">
			</div>
		</div>


		<div class="form-group">
			<label class="col-sm-2 control-label">new password: </label>
			<div class="col-sm-4">
				<input type="password" class="form-control" [(ngModel)]="newPassword">
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">confirm new password: </label>
			<div class="col-sm-4">
				<input type="password" class="form-control" [(ngModel)]="newPasswordConfirm">
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-4 col-sm-offset-2 ">
				<button class="btn btn-primary" (click)="changePassword()">change password</button>
			</div>
		</div>
		<div class="col-sm-4 col-sm-offset-2 ">
			<p>{{errorMsg}}</p>
		</div>
	</div>
</div>