<div class="row">
	<div class="col-sm-offset-1 col-sm-8">
		<div class="row">

			<div *ngFor="let car of cars" class="col-sm-4">
				<a *ngIf="(car.locationCountry == country && car.locationCity == city) || (!country  && !city)"
					[routerLink]="['/rentCar', car.id]" class="thumbnail">

					<img class="grow" [src]="car.imageUrlMedium" alt="...">
					<h3>{{car.price}} &#x20bd;</h3>


					<div class="caption">
						<img class="img-circle" [src]="car.userImageUrlSmall" alt="...">
						{{car.userFirstName}} {{car.manufacturerName}} - {{car.year}}

					</div>
				</a>
			</div>
		</div>
	</div>

	<div class="col-sm-3">
		<div class="form-horizontal">
			<div class="form-group">
				<div class="col-sm-8">
					<label class="control-label">Country:</label>
					<select class="form-control" [(ngModel)]="country" (change)="changeCountry()">
						<option *ngFor="let country of countries" [ngValue]="country">{{country}}</option>
					</select>
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-8">
					<label class="control-label">City:</label>
					<select class="form-control" [(ngModel)]="city">
						<option *ngFor="let city of cities" [ngValue]="city">{{city}}</option>
					</select>
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-8">
					<label class="control-label">Car Type:</label>
					<select class="form-control" [(ngModel)]="carType">
						<option *ngFor="let carType of carTypes" [ngValue]="carType">{{carType}}</option>
					</select>
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-8">
					<label class="control-label">Number of seats:</label>
					<select class="form-control" [(ngModel)]="seat">
						<option *ngFor="let seat of numberOfSeats" [ngValue]="seat">{{seat}}</option>
					</select>
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-8">
					<label class="control-label">Transmission:</label>
					<select class="form-control" [(ngModel)]="transmission">
						<option *ngFor="let transmission of transmissionTypes" [ngValue]="transmission">{{transmission}}</option>
					</select>
				</div>
			</div>

		</div>
	</div>
</div>