<nav class="navbar navbar-default">
	<div class="container-fluid">
		<a class="navbar-brand" [routerLink]="['/']">home</a>

		<ul class="nav navbar-nav">
			<li>
				<a [routerLink]="['/manage/listCar']">list car</a>
			</li>
			<li>
				<a [routerLink]="['/findCars']">find cars</a>
			</li>

			<li *ngIf="userService.isLoggedIn()">
				<a [routerLink]="['/manage']">manage</a>
			</li>
			<li *ngIf="userService.isLoggedIn()">
				<a [routerLink]="[]" (click)="logout()">logout</a>
			</li>
			<li>
				<a [routerLink]="['/howItWorks']">How it works</a>
			</li>

			<li *ngIf="!userService.isLoggedIn()">
				<a [routerLink]="['/register']">register</a>
			</li>
			<li *ngIf="!userService.isLoggedIn()">
				<a [routerLink]="['/login']">login</a>
				<i class="icon-search"></i>
			</li>
			<li *ngIf="userService.isLoggedIn() && hasNewMessages">
				<a [routerLink]="['/manage/messages/incoming']">
					<span class="glyphicon glyphicon-envelope">new messages </span>
				</a>
			</li>
		</ul>

	</div>
</nav>
